header {
  color: inherit;

  &.scrolled {
    .navbar {
      box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
      background-color: var(--dark2);
    }
  }
}

.navbar {
  transition: 0.5s;

  .navbar-brand {
    &:hover {
      color: inherit;
    }
  }

  #logo {
    width: 60px;
    height: 60px;
  }

  #nav-toggle {
    color: inherit;
    margin-left: 24px;

    .navbar-toggler-icon {
      background-image: none;
      font-size: 30px;
      width: unset;
      height: unset;
    }
  }

  .nav-item {
    @media (max-width: $mdMax) {
      text-align: center;
      margin: 10px 0;
    }
  }

  .nav-link {
    color: inherit;
    font-weight: 700;

    &:hover {
      color: var(--primary) !important;
    }
  }
}
