@import '../../styles/variables.scss';

.icons {
    display: flex;
    gap: 36px;
    flex-wrap: wrap;
    max-width: 900px;
    padding: 36px 0;

    @media (max-width: $md) {
        justify-content: space-between;
    }

    .icon {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        cursor: pointer;
        box-sizing: border-box;
        gap: 5px;

        @media (max-width: $md) {
            flex: 0 1 calc(33.333% - 36px);
        }

        @media (max-width: $sm) {
            flex: 0 1 calc(50% - 32px);
        }

        @media (min-width: $md) {

            &:hover {
                color: $primary;

                .icon__svg {
                    transform: translateY(-5px);
                }
            }
        }

        .icon__svg {
            transition: transform .3s ease-in-out;
        }
    }
}