footer {
  color: $light;

  a {
    text-decoration: none;
  }

  p {
    color: $dark;
  }

  svg {
    width: 16px;
  }

  #footer-top {
    padding: 48px 0;
    background-color: $primaryLight;

    .footer-content {
      height: 100%;

      @media (max-width: $smMax) {
        text-align: center;
      }

      &.btn-to-top {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }

      .footer-title {
        margin-bottom: 16px;
        font-weight: 700;
      }

      .contacts {
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;

        @media (max-width: $smMax) {
          margin-bottom: 32px;
        }

        .contact {
          margin-bottom: 4px;

          i {
            margin-right: 8px;
          }

          a {
            color: $light;
          }
        }
      }

      .logo-footer {
        .btn {
          margin: 0 8px;

          &:first-child {
            margin-left: 0;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  #footer-bottom {
    background-color: $dark2;
    padding: 8px 0;
    line-height: 20px;
    transition: 0.5s;

    p {
      color: $light;
      margin: 0;
      font-size: 0.75rem;
      line-height: 0.875rem;
    }

    span {
      font-weight: 700;
      margin: 0.25rem;
      color: $light;

      &:hover {
        color: $primaryLight;
      }
    }

    .red {
      color: red;
    }
  }
}
