#skills {
  padding: 140px 0;
  transition: 0.5s;

  @media (min-width: $smMin) and (max-width: $lgMin) {
    padding: 140px 70px;
  }

  .container {
    max-width: 900px;

    @media (min-width: $xxlMin) {
      max-width: 1260px;
    }
  }

  .skills-text {
    @media (max-width: $mdMax) {
      text-align: center;
    }

    h2 {
      font-weight: 700;
      display: inline;
      margin-left: 5px;
      margin-bottom: 0;
    }

    p {
      line-height: 20px;
      margin: 0;
      padding: 10px 0;
    }

    svg {
      width: 36px;
    }
  }

  .title {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    @media (max-width: $mdMax) {
      justify-content: center;
    }
  }

  .developer-icons {
    margin-top: 48px;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;

    @media (max-width: $xsMax) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: $mdMax) {
      justify-content: center;
    }

    .developer-icon-wrapper {
      @media (max-width: $xsMax) {
        display: flex;
        justify-content: center;
      }

      svg {
        width: 34px;
      }
    }
  }

  .area-git {
    text-align: center;

    @media (max-width: $mdMax) {
      margin-top: 80px;
    }

    a {
      text-decoration: none;
    }

    .logo-git {
      h4 {
        font-size: 24px;
        margin-bottom: 0;
        padding-bottom: 0;
        font-weight: 700;
      }

      p {
        margin-bottom: 16px;
        font-size: 14px;
        opacity: 0.6;
      }

      svg {
        width: 70px;
        margin-bottom: 4px;
      }
    }

    .api-info {
      margin-bottom: 16px;
      display: flex;
      justify-content: center;
      gap: 24px;

      svg {
        width: 24px;
      }

      .info-space {
        display: flex;
        align-items: center;

        span {
          margin-left: 8px;
        }
      }
    }

    svg {
      width: 1.5rem;
    }
  }

  span {
    font-weight: 700;
    margin: 0.25rem;
  }
}
