// Cores
$black:       #121214;
$black2:      #202024;

$white:       #FFFFFF;
$white2:      #f5f5f5;

$blue:        #2086B7;
$blueLight:   #189CDC;
$blueDark:    #0D597D;

// Contextos
$primary:         $blue;
$primaryLight:    $blueLight;
$primaryDark:     $blueDark;

$light:       $white;
$light2:      $white2;

$dark:        $black;
$dark2:       $black2;

// Breakpoints
$xsMax:       575.98px;

$smMin:       576px;
$smMax:       767.98px;

$mdMin:       768px;
$mdMax:       991.98px;

$lgMin:       992px;
$lgMax:       1199.98px;

$xlMin:       1200px;
$xlMax:       1399.98px;

$xxlMin:      1400px;