@import './variables';

html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
}

.color_primary {
    color: $primary;
}

.text_bold {
    font-weight: 700;
}

.text_decoration_none {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}