@import './variables';

html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
}

// Estilos da barra de rolagem

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: $dark;
}

::-webkit-scrollbar-thumb {
    background-color: rgba($primary, 0.75);

    &:hover {
        background-color: rgba(green, 1);
    }
}

// Outros Estilos

.color_primary {
    color: $primary;
}

.text_bold {
    font-weight: 700;
}

.text_decoration_none {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}