// Cores

$white: #F1F1F1;
$black: #0C0C0C;

$purpleLight: #9d88ff;
$purple: #6c5ce7;
$purpleDark: #4d3cb9;

$orangeLight: #F3C2A1;
$orange: #E29A66;
$orangeDark: #B57242;

// Contextos

$light: $white;
$dark:  $black;

$primaryLight: $purpleLight;
$primary: $purple;
$primaryDark: $purpleDark;

$secondaryLight: $orangeLight;
$secondary: $orange;
$secondaryDark: $orangeDark;

// Breakpoints
$xs: 0px;
$sm: 600px;
$md: 900px;
$lg: 1200px;
$xl: 1536px;