// Cores

$white: #ffffff;
$white_2: #fefefe;

$black: #000000;
$black_2: #212529;

$purpleLight: #9d88ff;
$purple: #6c5ce7;
$purpleDark: #4d3cb9;

$silverLight: #eff2f7;
$silver: #ced4da;
$silverDark: #8d97a5;

// Contextos

$light: $white;
$light_2: $white_2;

$dark:  $black;
$dark_2: $black_2;

$primary: $purple;
$secondary: $silver;

// Breakpoints
$xs: 0px;
$sm: 600px;
$md: 900px;
$lg: 1200px;
$xl: 1536px;
