#home {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url(../../assets/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    height: 90vh;
    // filter: invert(1);
}