@import '../../styles/variables.scss';

#home {
    display: flex;
    align-items: center;
    height: 100%;

    @media (max-width: $md) {
        align-items: start;
    }

    .home__box {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: $md) {
            flex-direction: column-reverse;
        }

        >div {
            &:first-child {
                display: flex;
                flex-direction: column;
                flex: 1;
            }

            &:last-child {
                flex: 1;
            }
        }

        .animate__pulse {
            animation-duration: 1.5s;
            animation-delay: 1.5s;
        }

        .animate__lightSpeedInRight {
            animation-duration: 2.25s;
            animation-delay: .5s;
        }
    }
}