#header {
    overflow: hidden;
    background-image: inherit;

    .header__box {
        justify-content: space-between;
        gap: 1.5rem;
        width: 100%;

        .header__links,
        .header__icons {
            display: flex;
            align-items: center;
            gap: 3rem;
            animation-duration: 1.5s;
        }

        .header__icons {
            animation-delay: .75s;
        }
    }
}

// Customização do drawer

#drawer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    // .drawer__links {
    // }

    .drawer__icons {
        li {
            display: flex;
            gap: 10px;
            padding: 0;

            // @media (max-width: 400px) {
            // }

            a {
                padding: 0;
            }
        }
    }

    .drawer__theme_switch {
        li {
            display: flex;
            justify-content: center;
        }
    }
}