#header {
    overflow: hidden;
    background-image: inherit;

    .header__box {
        justify-content: space-between;
        gap: 1.5rem;
        width: 100%;

        @media (max-width: 900px) {

        }

        .header__links,
        .header__icons {
            display: flex;
            align-items: center;
            gap: 3rem;
            animation-duration: 2.5s;
        }
    }
}


.toolbar-area {
    padding: 0 !important;
}