@import '../../styles/variables.scss';

#header {
    padding: 2.5%;
    overflow: hidden;

    .header__box {
        display: flex;
        justify-content: space-between;
        gap: 1.5rem;
        width: 100%;

        .header__links,
        .header__icons {
            display: flex;
            gap: 3rem;
            animation-duration: 2.5s;
        }

        .header__links {
            .header__link {
                text-decoration: none;
                color: $primary;

                &:hover {
                    color: $primaryDark;
                }

                &.active {
                    border-bottom: 2px solid $primary;
                }
            }
        }

        .header__icons {
            .header__icon {
                padding: 0;

                svg {
                    color: $primary;

                    &:hover {
                        color: $primaryDark;
                    }
                }
            }
        }
    }
}