@import '../../styles/variables.scss';

#header {
    overflow: hidden;
    background-color: $dark;
    border-bottom: 2px solid $secondary;

    .header__box {
        display: flex;
        justify-content: space-between;
        gap: 1.5rem;
        width: 100%;

        .header__links,
        .header__icons {
            display: flex;
            gap: 3rem;
            animation-duration: 2.5s;
        }

        .header__links {
            .header__link {
                text-decoration: none;
                color: $primary;
                transition: scale 0.3s ease-in-out, border-color 0.3s ease-in-out, border-bottom 0.1s ease-in-out, color 0.3s ease-in-out;
                font-size: 1.25rem;

                &:hover {
                    color: $primaryLight;
                    border-bottom: 2px solid $primaryLight;
                    scale: calc(1 + .05);

                }

                &.active {
                    color: $secondary;
                    border-bottom: 2px solid $secondary;
                }
            }
        }

        .header__icons {
            .header__icon {
                padding: 0;

                svg {
                    color: $primary;

                    &:hover {
                        color: $primaryLight;
                    }
                }
            }
        }
    }
}