#projects {
    .projects__box {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .projects__box_item {
            display: flex;
            flex-wrap: wrap;
            gap: 1.25rem 0;
        }
    }
}