@import './styles/variables.scss';

.content-page {
    flex: 1;
    padding-top: 4.125rem;

    @media (max-width: $sm) {
        padding-top: 3.625rem;
    }

    section {
        padding: 0;
    }
}